[
  {
    rabbit,
    [
      {
        default_user,
        <<"admin">>
      },
      {
        default_pass,
        <<"changeme">>
      },
      {
        tcp_listeners,
        [{"0.0.0.0", 5672}]
      },
      {
        log_levels,
        [
          {connection, warning}
        ]
      }
    ]
  }
].